html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing:border-box;
}

input {
	border: none;
}

html, body {
	height: 100%;
}

body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}
@keyframes scale {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(0.7);
	}
}
.main {
	height: inherit;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	max-width: 480px;
	margin: 0 auto;
	gap: 20px;
	padding: 40px;
	overflow: hidden;
}

.form_validation {
	& > * {
		margin: 5px;
		padding: 10px;
		&:not(.help_form) {
			border-radius: 15px;
		}
	}
	display: flex;
	flex-basis: unset;
	transition-duration: 0.3s;
	scale: 0.5;
	opacity: 0;
	min-width: 100%;
	width: 100%;
	background: #a1ffc2;
	padding: 15px;
	border-radius: 20px;
	flex-direction: column;
	margin-right: -400px;
	height: fit-content;
}

.form_wrapper {
	display: flex;
	width: 100%;
}

.help_form {
	& > :nth-child(odd){
		border-radius: 15px 15px 0 0;
	}
	& > :nth-child(even){
		border-radius: 0 0 15px 15px;
	}
}

.submit {
	border: none;
	outline: none;
	border-radius: 15px;
	color: #fff;
	background: #3AFF62;
	cursor: pointer;
	font-size: 1rem;
	transition-duration: 0.5s;
	transition-property: background-color;
	padding: 10px 20px;
}

.accordion {
	background-color: #eee;
	color: #444;
	cursor: pointer;
	width: 100%;
	padding: 18px;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
	transition: 0.4s;
}

.active, .accordion:hover {
	background-color: #ccc;
}

.panel {
	padding: 10px 18px;
	& > .submit {
		padding: 5px 15px;
		min-width: 125px;
	}
	& > p {
		padding-bottom: 10px;
	}
	&:last-child {
		padding-bottom: 15px;
	}
	&::after {
		content: '';
		width: 100%;
		height: 1px;
		display: block;
		background: black;
		margin-top: 7px;
	}
}

.panels {
	background-color: white;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}

.progress_wrapper {
	min-width: 100%;
	padding: 15px 0;
	display: flex;
	background: #a9ceff;
	border-radius: 15px;
	box-sizing: content-box;
	opacity: 0.7;
	font-size: 12px;
}
.progress_bar {
	position: absolute;
	width: 40%;
	height: 3px;
	border-radius: 20px;
	top: 24%;
	left: 80%;
	background: salmon;
	transition: .5s ease-out;
}
.active_form {
	scale: 1;
	opacity: 0.7;
	margin-right: 0;
}
.progress {
	width: 50%;
	position: relative;
	text-align: center;
	max-height: 39px;
}
.step {
	width: 20px;
	height: 20px;
	border-radius: 100%;
	text-align: center;
	margin: 0 auto;
	background: salmon;
	transition: 1s ease-out;
}
.current_step {
	animation: scale 2s ease infinite;
}

.successful_step {
	background: #a1ffc2;
}
